/*
CSS PhotoShare page

Since CSS uses a global name space for classes we should use class names starting with
cs142-main- here.
*/

.photo-share-topbar-buffer {
  margin-top: 100px;
}
.photo-share-main-grid-item {
  height: calc(100vh - 85px);
  padding: 10px;
}